#!/usr/bin/env bash
USERDATA_CONFIG_FILE="/etc/alternat.conf"
echo eip_allocation_ids_csv=eipalloc-0dbce8fb3e4691c95 >> "$USERDATA_CONFIG_FILE"
echo route_table_ids_csv=${route_table_ids_csv} >> "$USERDATA_CONFIG_FILE"
