#!/usr/bin/env bash
USERDATA_CONFIG_FILE="/etc/alternat.conf"
echo eip_allocation_ids_csv=${eip_allocation_ids_csv} >> "$USERDATA_CONFIG_FILE"
echo route_table_ids_csv=${route_table_ids_csv} >> "$USERDATA_CONFIG_FILE"
